.smallInfoCard {
  min-width: 70px;
  height: 130px;
  border-radius: 11.385px;
  border: 0.569px solid;
  border-color: rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 3px;
  color: #fff;
  box-sizing: content-box;
}

.smallInfoCard__tempInfo {
  text-shadow: -1.139px 1.708px 0.569px rgba(0, 0, 0, 0.1);
  display: flex;
  font-size: 20px;
  font-weight: 300;
}
