.citiesList__letter {
  position: relative;
}

.citiesList__letter::after {
  content: ' ';
  background: rgba(255, 255, 255, 0.2);
  width: 100%;
  height: 1px;
  top: 26px;
  left: 0px;
  position: absolute;
  margin: 0;
  padding: 0;
}
