.cardsList__box {
  white-space: nowrap;
  scroll-behavior: smooth;
}

.cardsList__box::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.cardsList__button {
  font-size: 40px;
  opacity: 0.4;
  width: 30px;
  height: 130px;
  border-radius: 11.385px;
  background: rgba(255, 255, 255, 0.099);
  backdrop-filter: blur(50px);
  padding: 3px;
  box-sizing: content-box;
  z-index: 5;
}

.cardsList__button:hover {
  opacity: 0.7;
}

@media (max-width: 445px) {
  .cardsList__button {
    font-size: 30px;
    width: 25px;
    height: 100px;
  }
}
